.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.column {
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  width: 100%;
}

.column img {
  width: 50%;
  margin: 0 auto;
}

.temperature p {
  display: inline-block;
  margin: 5px;
}

.form {
  position: absolute;
  margin-top: 115px;
}
