.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.column {
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  width: 100%;
}

.temperature p {
  display: inline-block;
  margin: 5px;
}
